<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>OCR认证结果确认</title>
    <meta name="author" content="Ye">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/weui.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <style>
        body{
            width: 100%;
            background-color: Azure;
            margin: 0 auto;
        }
        .display{
            width: 100%;
            margin: auto;

        }
        .headpic-area{
            margin:auto;
            padding-top: 20px;
            border-radius: 16px;
            width: 100%;
            text-align: center;
            border: 1px solid #ccc;
            border-color: black;
        }
        .buttom-sp-area{
            margin:auto;
            padding-top: 35px;
            width: 70%;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="display">
    <div class="page__hd">
        <a href="javascript:;" class="weui-btn weui-btn_block weui-btn_primary">请确认您的身份证识别结果，<br>若有错误请修改并进入下一步</a>
    </div>
    <div class="page__bd">
        <div class="headpic-area">
            <a href="javascript:;" class="weui-btn weui-btn_plain-default">照片</a><br>
            <div>
                <img id="cardphoto">
            </div>
        </div>
        <div class="weui-cells__title">OCR识别结果</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell weui-cell_vcode">
                <div class="weui-cell__hd">
                    <label class="weui-label">姓名</label>
                </div>
                <div class="weui-cell__bd">
                    <input id="nameinput" class="weui-input" type="tel" placeholder=姓名>
                </div>
                <div class="weui-cell__ft">
                    <button class="weui-vcode-btn"></button>
                </div>
            </div>
            <div class="weui-cell weui-cell_vcode">
                <div class="weui-cell__hd">
                    <label class="weui-label">身份证号码</label>
                </div>
                <div class="weui-cell__bd">
                    <input id="idinput" class="weui-input" type="tel" placeholder=身份证号码>
                </div>
                <div class="weui-cell__ft">
                    <button class="weui-vcode-btn"></button>
                </div>
            </div>
        </div>
        <div class="weui-cells__tips">确认无误后进入下一步</div>
    </div>
    <div class="buttom-sp-area">
        <a href="javascript:confirm();" class="weui-btn weui-btn_primary" id="btn">确认</a>
    </div>
</div>
</body>

<script>

    var OpenID="";
    var CardID="";
    var Name = "";
    var CardPhoto = "";
    var Check = ""


    //url传参
    function getQueryVariable(variable)
    {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i=0;i<vars.length;i++) {
            var pair = vars[i].split("=");
            if(pair[0] == variable){return pair[1];}
        }
        return(false);
    }

    //页面加载函数
    window.onload=function (){
        var _openid = getQueryVariable("openid");
        var _name = decodeURI(getQueryVariable("name"));
        var _cardid = getQueryVariable("cardid");
        var _cardphoto = getQueryVariable("photo");
        var _check = getQueryVariable("check");
        idinput.placeholder = _cardid;
        nameinput.placeholder = _name;
        cardphoto.src = _cardphoto;
        OpenID = _openid;
        Name = _name;
        CardID = _cardid;
        CardPhoto = _cardphoto;
        Check = _check;

        console.log(OpenID);
        console.log(Name);
        console.log(CardID);
        console.log(CardPhoto);
        console.log(Check);
    }

    function confirm(){
        if(nameinput.value!="")Name = nameinput.value;
        if(idinput.value!="")CardID = idinput.value;
        $(window).attr("location","/sdses-admin/wechat/page/huotijiance.html?openid="+OpenID+"&name="+Name+"&cardid="+CardID+"&photo="+CardPhoto+"&check="+Check);
    }

</script>

</html>
