<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>待遇资格认证系统</title>
    <meta name="author" content="Ye">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/weui.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <style>
        body{
            width: 100%;
            background-color: Azure;
            margin: 0 auto;
        }
    </style>

</head>
<script>

    var OpenID;

    $(function(){

        $('#test').click(function(){

        });
    });

    function getQueryVariable(variable)
    {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i=0;i<vars.length;i++) {
            var pair = vars[i].split("=");
            if(pair[0] == variable){return pair[1];}
        }
        return(false);
    }

    window.onload=function (){
        var code = getQueryVariable("code");
        $.ajax({

            type: "get",//使用servlet中的post方法
            url: "/sdses-admin/wechat/page/getOpenID?code="+code,
            success: function(data) {
                resText.innerHTML = "OpenID:"+data.openid;
                OpenID = data.openid;
            }

        })

        $.ajax({
            type:'get',
            url:'/sdses-admin/wechat/page/saveOpenID?openid='+OpenID,
            success:function(data){
                console.log(data.msg);
            }
        });

    }

    $(function(){
        $("#startbtn").click(function() {

            $.ajax({

                type: "get",//使用servlet中的post方法

                url: "/sdses-admin/wechat/page/OCRrenzheng.html",//进入那个servlet中去

                statusCode: {

                    404: function() {

                        alert("找不到该页面");//失败报错

                    }
                },

                success: function(data) {
                    $(window).attr("location","/sdses-admin/wechat/page/OCRrenzheng.html?openid="+OpenID);
                }

            })

        })
    });


</script>

<body>
<div class="container">
    <div class="page__hd">
        <a href="javascript:;" class="weui-btn weui-btn_block weui-btn_default">待遇资格认证系统</a>
        <p id="resText">openid</p>
    </div>
    <div class="page__bd page__bd_spacing">
        <div class="button-sp-area">
            <button id="startbtn" class="weui-btn weui-btn_primary">开始认证</button>
            <a id="test" class="weui-btn weui-btn_primary">测试</a>
            <a href="/sdses-admin/wechat/page/fail.html?reason=测试" class="weui-btn weui-btn_default">失败提示页</a>
        </div>
    </div>
</div>
<script type="text/html" id="tpl_msg_warn">
    <div class="page">
        <div class="weui-msg">
            <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
            <div class="weui-msg__text-area">
                <h2 class="weui-msg__title">操作失败</h2>
                <p class="weui-msg__desc">内容详情，可根据实际需要安排，如果换行则不超过规定长度，居中展现<a href="javascript:void(0);">文字链接</a></p>
            </div>
            <div class="weui-msg__tips-area">
                <p class="weui-msg__tips">提示详情，可根据实际需要安排，如果换行则不超过规定长度，居中展现<a href="javascript:void(0);">文字链接</a></p>
            </div>
            <div class="weui-msg__opr-area">
                <p class="weui-btn-area">
                    <a href="javascript:history.back();" class="weui-btn weui-btn_default">辅助操作</a>
                </p>
            </div>
            <div class="weui-msg__extra-area">
                <div class="weui-footer">
                    <p class="weui-footer__links">
                        <a href="javascript:void(0);" class="weui-footer__link">底部链接文本</a>
                    </p>
                    <p class="weui-footer__text">Copyright &copy; 2008-2016 weui.io</p>
                </div>
            </div>
        </div>
    </div>

</script>
</body>

</html>
