<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>视频活体检测</title>
    <meta name="author" content="Ye">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/weui.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <style>
        body{
            width: 100%;
            background-color: Azure;
            margin: 0 auto;
        }
        .display{
            width: 100%;
            margin: auto;

        }
        .yzm{
            width: 70%;
            margin: auto;
            padding: 20px;
        }
        img{
            width: 100%;
        }
        .textarea{
            padding: 20px;
            width: 70%;
            margin: auto;
        }
        .button{
            margin: auto;
            width: 70%;
            padding: 35px;
        }
    </style>
</head>
<body>
    <div class="display">
        <div><img id="demo" src="${request.contextPath}/statics/img/shipingpic.png" alt="演示图片"></div>
        <div class="msg1">您即将进入人脸检测，请注意：</div>
        <div class="yzm">
            <a id="num4" class="weui-btn_cell weui-btn_cell-primary">0000</a>
        </div>
        <div class="textarea">
            <div>录制时需匀速朗读一遍上方数字</div>
            <div>录制时请勿遮挡脸部</div>
            <div>请使用前置摄像头</div>
        </div>
        <div class="button">
            <a href="javascript:$('#dialog').fadeIn(100);" class="weui-btn weui-btn_block weui-btn_primary" id="btn">准备好了，开始录制</a>
        </div>
        <input type="file" accept="video/*" capture="camera" id="fileUpload" style="position:absolute; clip:rect(0 0 0 0);"  onchange="uploadVideo(this)">
        <div id="toast" style="display: none;">
            <div class="weui-mask_transparent"></div>
            <div class="weui-toast">
                <i class="weui-icon-success-no-circle weui-icon_toast"></i>
                <p class="weui-toast__content">已完成</p>
            </div>
        </div>
        <div id="loadingToast" style="display: none;">
            <div class="weui-mask_transparent"></div>
            <div class="weui-toast">
                <i class="weui-loading weui-icon_toast"></i>
                <p class="weui-toast__content">上传中</p>
            </div>
        </div>
    </div>
    <div id="dialogs">
        <div class="js_dialog" id="dialog" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog weui-skin_android">
                <div class="weui-dialog__hd"><strong class="weui-dialog__title">注意</strong></div>
                <div class="weui-dialog__bd">
                    <a class="weui-btn weui-btn_block weui-btn_default">请先确认你已记住下面4位数字</a>
                    <a id="yzm" class="weui-btn_cell weui-btn_cell-warn">6666</a>
                </div>
                <div class="page__ft">
                    <a href="javascript:$('#dialog').fadeOut(100);fileUpload.click();" class="weui-btn weui-btn_block weui-btn_default">记住了，开始录制</a>
                </div>
            </div>
        </div>
    </div>
</body>

<script>

    var OpenID;
    var CardID="";
    var Name = "";
    var CardPhoto = "";
    var Check = "";
    var Num4 = "";

    //url传参
    function getQueryVariable(variable)
    {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i=0;i<vars.length;i++) {
            var pair = vars[i].split("=");
            if(pair[0] == variable){return pair[1];}
        }
        return(false);
    }

    //页面加载函数
    window.onload=function (){
        var _openid = getQueryVariable("openid");
        var _name = decodeURI(getQueryVariable("name"));
        var _cardid = getQueryVariable("cardid");
        var _cardphoto = getQueryVariable("photo");
        var _check = getQueryVariable("check");
        OpenID = _openid;
        Name = _name;
        CardID = _cardid;
        CardPhoto = _cardphoto;
        Check = _check;
        console.log(OpenID);
        console.log(Name);
        console.log(CardID);
        console.log(CardPhoto);
        console.log(Check);

        $.ajax({
            type:"get",
            url:"/sdses-admin/wechat/page/getNum",
            success: function(data) {
                console.log(data);
                num4.innerHTML = data.num4;
                yzm.innerHTML = data.num4;
                Num4 = data.num4;
            }
        })
    }


    //上传
    function uploadVideo(obj) {
        var $loadingToast = $('#loadingToast');
        var $toast = $('#toast');
        if ($loadingToast.css('display') != 'none') return;
        $loadingToast.fadeIn(100);
        var formData = new FormData();
        var file = fileUpload.files[0];
        formData.append('file', file);
        formData.append('openid', OpenID);
        formData.append('idname', Name);
        formData.append('idnum', CardID);
        formData.append('num4', Num4);
        formData.append('image', CardPhoto);

        $.ajax({
            url: '/sdses-admin/wechat/page/uploadvideo',
            type: 'POST',
            cache: false, //上传文件不需要缓存
            data: formData,
            async:true,
            processData: false, // 告诉jQuery不要去处理发送的数据
            contentType: false, // 告诉jQuery不要去设置Content-Type请求头

            success: function (data) {
                $loadingToast.fadeOut(100);
                console.log(data)
                if(data.result=="认证成功"){
                    var finish = $('#toast');
                    finish.fadeIn(100);
                    setTimeout(function () {
                        finish.fadeOut(100);
                        $(window).attr("location","/sdses-admin/wechat/page/success.html");
                    },1000);
                }else{
                    $(window).attr("location","/sdses-admin/wechat/page/fail.html?reason="+data.failreason);
                }
            },
            error: function (data) {
                $loadingToast.fadeOut(100);
                alert("上传失败请重试！")
            }
        })
    }


</script>

</html>
