<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"></meta>


    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>


    <script>
    </script>
    <script src="${request.contextPath}/statics/js/modules/wechat/messagepush.js?_${.now?long}"></script>
    <link rel="stylesheet" href="${request.contextPath}/statics/css/messagepush.css?_${.now?long}">



</head>

<body>
<div class="wrapper ">
    <div class="header">


                    <button onclick="javascript:but1()" id="b1">返回</button>

                    <button onclick="javascript:but2()"id="b2">推送</button>


        </div>

    </div>



    <div  id="c-box" name="c-box" class="left" >

        <input type="button" value="全选" onclick="setAll()" />
        <input type="button" value="全不选" onclick="setNo()" />
        <input type="button" value="反选" onclick="setOthers()" />
        <div id="table">

        </div>

    </div>



    <div class="cont">

        <textarea class="textRange" rows=30   name=s1   cols=9  id="text" onpropertychange= "this.style.posHeight=this.scrollHeight ">
        </textarea>
    </div>

    </div>


</body>

</html>