<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"></meta>


    <!--<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>-->

    <#include "/header.html">
    <script>
    </script>

    <link rel="stylesheet" href="${request.contextPath}/statics/css/messagepush.css?_${.now?long}">



</head>

<body>
<div class="wrapper ">

    <div id="rrapp" v-cloak class="header" >
        <div v-show="showList" >
            <div class="grid-btn">
                <button onclick="javascript:but3()" id="b3">新增</button>
                <#if shiro.hasPermission("wechat:message:delete")>
                 <button  @click="del">删除</button>
                 </#if>

                <button onclick="javascript:but4()" id="b4">搜索</button>
            </div >
            <table id="jqGrid"></table>
            <div id="jqGridPager"></div>
        </div>

        <div v-show="!showList" class="panel panel-default">
            <div class="panel-heading"></div>
            <form class="form-horizontal">

            </form>
        </div>
     </div>
    </div>
<script src="${request.contextPath}/statics/js/modules/wechat/messagepush.js?_${.now?long}"></script>




    <div  id="c-box"  class="left" style="display:none">
        <h4> 用户openid:</h4>
        <br/>

        <div id="table">

        </div>
        <br>
        <input type="button" value="全选" onclick="setAll()" />
        <input type="button" value="全不选" onclick="setNo()" />
        <input type="button" value="反选" onclick="setOthers()" />

    </div>



    <div id="c-cont" class="cont" style="display:none">
        <h4>消息内容:</h4>
        <br/>
        <textarea class="textRange" rows=30   name=s1   cols=9  id="text" onpropertychange= "this.style.posHeight=this.scrollHeight ">
        </textarea>

    </div>
    </div>

    <div id="c-butt" class="butt" style="display:none">
        <button onclick="javascript:but2()"id="b2">推送</button>
    </div>

<div id="c-query" class="query" style="display:none">
<div v-show="!showList" class="panel panel-default">

    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-2 control-label">消息内容</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="message.messCont" placeholder=""/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label">openid</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="message.openid" placeholder=""/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">推送时间</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="message.deliveryTime" placeholder=""/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label">推送结果</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="message.pushResults" placeholder=""/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label"></div>
            <a class="btn btn-primary" @click="query"><i class="fa fa-search"></i>&nbsp;搜索</a>
            <a class="btn btn-primary" @click="resetSearch"><i class="fa fa-reply"></i>&nbsp;重置</a>
        </div>
    </form>
   </div>
</div>

</body>

</html>