<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">

</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading"></div>
        <form class="form-horizontal">

        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/wechat/message.js?_${.now?long}"></script>
</body>
</html>