<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>OCR认证</title>
    <meta name="author" content="Ye">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/weui.css">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/test.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
<p id="openid">
    null
</p>
    <div class="center">
        <div>正面</div>
        <div><img onclick="zminput.click()" id="zhengmianzhaopian" src="./img.png" alt="点击上传正面照片"></div>
        <input style="display:none"  id="zminput" accept=“image/* type="file" name="f1" onchange="choosePic(this,'zhengmianzhaopian')"/>
    </div>
    <div class="center">
        <div>背面</div>
        <div><img onclick="bminput.click()" id="beimianzhaopian" src="./img.png" alt="点击上传背面照片"></div>
        <div><input style="display:none"  id="bminput" accept=“image/* type="file" onchange="choosePic(this,'beimianzhaopian')"/></div>
    </div>
<div>
    <button id="btn" onclick="button()" class="weui-btn weui-btn_primary" for="zmiput">上传</button>
</div>

</body>

<script>

    var flag = false;
    var OpenID;

    //按钮
    function button() {
        if(flag==false)uploadpic();
        else {
            $(window).attr("location","/sdses-admin/wechat/page/huotijiance.html?openid="+OpenID);
        }
    }

    //base64
    function FileToBase64(file) {
        var reader = new FileReader();
        var AllowImgFileSize = 2100000; //上传图片最大值(单位字节)（ 2 M = 2097152 B ）超过2M上传失败
        var imgUrlBase64;
        if (file) {
            //将文件以Data URL形式读入页面
            imgUrlBase64 = reader.readAsDataURL(file);
            reader.onload = function (e) {
                //var ImgFileSize = reader.result.substring(reader.result.indexOf(",") + 1).length;//截取base64码部分（可选可不选，需要与后台沟通）
                if (AllowImgFileSize != 0 && AllowImgFileSize < reader.result.length) {

                    var scale = reader.result.length/AllowImgFileSize;

                    var image = new Image();    //新建一个img标签（不嵌入DOM节点，仅做canvas操作)
                    image.src = reader.result;   //让该标签加载base64格式的原图
                    image.onload = function() {    //图片加载完毕后再通过canvas压缩图片，否则图片还没加载完就压缩，结果图片是全黑的
                        var canvas = document.createElement('canvas'), //创建一个canvas元素
                            context = canvas.getContext('2d'),    //context相当于画笔，里面有各种可以进行绘图的API
                            imageWidth = 300,    //压缩后图片的宽度，这里设置为缩小一半
                            imageHeight = 200    //压缩后图片的高度，这里设置为缩小一半
                        canvas.width = imageWidth    //设置绘图的宽度
                        canvas.height = imageHeight    //设置绘图的高度

                        //使用drawImage重新设置img标签中的图片大小，实现压缩。drawImage方法的参数可以自行查阅W3C
                        context.drawImage(image, 0, 0, imageWidth, imageHeight)

                        //使用toDataURL将canvas上的图片转换为base64格式
                        imgUrlBase64 = canvas.toDataURL('image/jpeg')
                        console.log(imgUrlBase64);
                    }

                    return;
                }else{
                    //执行上传操作
                    imgUrlBase64 = reader.result;
                }
            }
        }
    }



    //url传参
    function getQueryVariable(variable)
    {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i=0;i<vars.length;i++) {
            var pair = vars[i].split("=");
            if(pair[0] == variable){return pair[1];}
        }
        return(false);
    }

    //页面加载函数
    window.onload=function (){
        var _openid = getQueryVariable("openid");
        openid.innerHTML = _openid;
        OpenID = _openid;
    }

    //上传
    function uploadpic(){
        var formData = new FormData();

        if(!$('#zminput')[0].files[0]){
            alert("请添加正面照")
            return;
        }
        if(!$('#bminput')[0].files[0]){
            alert("请添加背面照")
            return;
        }
        formData.append('file', $('#zminput')[0].files[0]);  //添加图片信息的参数
        formData.append('file', $('#bminput')[0].files[0]);  //添加图片信息的参数
        $.ajax({
            url: '/sdses-admin/wechat/page/upLoad',
            type: 'POST',
            cache: false, //上传文件不需要缓存
            data: formData,
            async:false,
            processData: false, // 告诉jQuery不要去处理发送的数据
            contentType: false, // 告诉jQuery不要去设置Content-Type请求头

            success: function (data) {
                console.log(data.msg);
                btn.innerHTML="下一步";
                flag = true;
            },
            error: function (data) {
                console.log(data.msg);
            }
        })
    }


    function choosePic(obj, id) {
        //FileReader
        if(window.FileReader){//验证当前的浏览器是否支持图片预览
            var reader=new FileReader();
            var file=obj.files[0];
            var regexImage=/^image\//;//js正则表达式，匹配是否拥有image
            if(regexImage.test(file.type)){
                //设置读取结束的回调函数
                reader.onload=function(data){
                    var img=document.getElementById(id);
                    img.src=data.target.result;//将结果数据显示到img标签上
                };
                //开始读取上传的文件内容
                reader.readAsDataURL(file);
            }else{
                alert("亲，看清楚是图片预览");
                return;
            }
        }else{
            alert("亲，浏览器该升级了");
            return;
        }
    }


</script>

</html>
