<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>OCR认证</title>
    <meta name="author" content="Ye">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/weui.css">
    <link rel="stylesheet" href="https://weui.io/weui.css">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/test.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>

<div class="page__bd page__bd_spacing">
    <div id="openid">openid</div>
    <div>
        <div>
            <a href="javascript:zmupload();" class="weui-btn weui-btn_block weui-btn_primary">点击上传正面照</a>
        </div>
        <div><img onclick="zminput.click()" style="width: 100%;" id="zhengmianzhaopian" src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=2384163257,1795060609&fm=173&app=49&f=JPEG?w=640&h=429&s=00114F30075665C8087940C80300F0B2"
     alt="点击上传正面照片"></div>
        <input style="display:none"  id="zminput" accept=“image/* type="file" name="f1" onchange="choosePic(this,'zhengmianzhaopian')"/>
    </div>
    <div>
        <div>
            <a href="javascript:bmupload();" class="weui-btn weui-btn_block weui-btn_primary">点击上传背面照</a>
        </div>
        <div><img onclick="bminput.click()" style="width: 100%;" id="beimianzhaopian" src="https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/wh%3D600%2C800/sign=0b663d8e6fd0f703e6e79dda38ca7d05/d833c895d143ad4b50662d598f025aafa50f06da.jpg" alt="点击上传背面照片"></div>
        <div><input style="display:none"  id="bminput" accept=“image/* type="file" onchange="choosePic(this,'beimianzhaopian')"/></div>
    </div>

    <div class="buttom-sp-area">
        <a href="javascript:button();" class="weui-btn weui-btn_primary" id="btn">下一步</a>
        </div>
    <div id="toast" style="display: none;">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-icon-success-no-circle weui-icon_toast"></i>
            <p class="weui-toast__content">已完成</p>
        </div>
    </div>
    <div id="loadingToast" style="display: none;">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-loading weui-icon_toast"></i>
            <p class="weui-toast__content">上传中</p>
        </div>
    </div>
</div>

</body>

<script>

    var zm = false;
    var bm= false;
    var OpenID;
    var cardid="";
    var name = "";
    var cardphoto = "";
    var check = ""

    function zmupload() {

        if(!$('#zminput')[0].files[0]){
            alert("请添加正面照")
            return;
        }
        var loading = $('#loadingToast');
        loading.fadeIn(100);
        setTimeout(function () {
            var formData = new FormData();

            formData.append('photo',zhengmianzhaopian.src);
            formData.append('type',"1");
            $.ajax({
                url: '/sdses-admin/wechat/page/uploadpic',
                type: 'POST',
                cache: false, //上传文件不需要缓存
                data: formData,
                async:false,
                processData: false, // 告诉jQuery不要去处理发送的数据
                contentType: false, // 告诉jQuery不要去设置Content-Type请求头

                success: function (data) {
                    console.log(data)
                    if(data.cardID!=undefined){
                        cardid = data.cardID;
                        name = data.name;
                        cardphoto = "data:image/png;base64,"+data.photo;
                        zm = true;
                        loading.fadeOut(100);
                        var finish = $('#toast');
                        finish.fadeIn(100);
                        setTimeout(function () {
                            finish.fadeOut(100);
                        },1000);
                    }else {
                        loading.fadeOut(100);
                    }
                },
                error: function (data) {
                    console.log(data)
                    loading.fadeOut(100);
                    alert("上传失败")
                }
            })
        },101)
    }
    //按钮
    function bmupload() {
        if(!$('#bminput')[0].files[0]){
            alert("请添加背面照")
            return;
        }
        var loading = $('#loadingToast');
        loading.fadeIn(100);
        setTimeout(function () {
            var formData = new FormData();

            formData.append('photo',beimianzhaopian.src);
            formData.append('type',"2");
            $.ajax({
                url: '/sdses-admin/wechat/page/uploadpic',
                type: 'POST',
                cache: false, //上传文件不需要缓存
                data: formData,
                async:false,
                processData: false, // 告诉jQuery不要去处理发送的数据
                contentType: false, // 告诉jQuery不要去设置Content-Type请求头

                success: function (data) {
                    console.log(data)
                    if (data.check!=undefined){
                        check = data.check;
                        bm=true;
                        loading.fadeOut(100);
                        var finish = $('#toast');
                        finish.fadeIn(100);
                        setTimeout(function () {
                            finish.fadeOut(100);
                        },1000);
                    }else {
                        loading.fadeOut(100);
                    }
                },
                error: function (data) {
                    console.log(data)
                    loading.fadeOut(100);
                    alert("上传失败")
                }
            })
        },101)
    }

    function button() {

        if(zm&&bm){
            $(window).attr("location","/sdses-admin/wechat/page/confirm.html?openid="+OpenID+"&name="+name+"&cardid="+cardid+"&photo="+cardphoto+"&check="+check);
        }
        else {
            alert("请先完成身份证正反面上传!")
        }
    }
    //url传参
    function getQueryVariable(variable)
    {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i=0;i<vars.length;i++) {
            var pair = vars[i].split("=");
            if(pair[0] == variable){return pair[1];}
        }
        return(false);
    }

    //页面加载函数
    window.onload=function (){
        var _openid = getQueryVariable("openid");
        openid.innerHTML = _openid;
        OpenID = _openid;
    }

    function choosePic(obj, id) {
        //FileReader
        if(window.FileReader){//验证当前的浏览器是否支持图片预览
            var reader=new FileReader();
            var file=obj.files[0];
            var regexImage=/^image\//;//js正则表达式，匹配是否拥有image
            if(regexImage.test(file.type)){
                //设置读取结束的回调函数
                reader.onload=function(data){

                    var image = new Image();    //新建一个img标签（不嵌入DOM节点，仅做canvas操作)
                    image.src = reader.result;   //让该标签加载base64格式的原图
                    image.onload = function() {    //图片加载完毕后再通过canvas压缩图片，否则图片还没加载完就压缩，结果图片是全黑的
                        var canvas = document.createElement('canvas'), //创建一个canvas元素
                            context = canvas.getContext('2d'),    //context相当于画笔，里面有各种可以进行绘图的API
                            imageWidth = 342.4,    //压缩后图片的宽度
                            imageHeight = 216.0    //压缩后图片的高度
                        canvas.width = imageWidth    //设置绘图的宽度
                        canvas.height = imageHeight    //设置绘图的高度

                        //使用drawImage重新设置img标签中的图片大小，实现压缩。drawImage方法的参数可以自行查阅W3C
                        context.drawImage(image, 0, 0, imageWidth, imageHeight)

                        var img=document.getElementById(id);
                        img.src=canvas.toDataURL('image/jpeg');

                    }


                };
                //开始读取上传的文件内容
                reader.readAsDataURL(file);
            }else{
                alert("亲，看清楚是图片预览");
                return;
            }
        }else{
            alert("亲，浏览器该升级了");
            return;
        }
    }

    function sleep(delay) {
        var start = (new Date()).getTime();
        while ((new Date()).getTime() - start < delay) {
            continue;
        }
    }
</script>

</html>
