<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>TEST</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="stylesheet" href="https://weui.io/weui.css" />
    <link rel="stylesheet" href="https://weui.io/example.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>

<div class="page__bd page__bd_spacing">
    <a href="javascript:$.toast('消息', 20000);" class="weui-btn weui-btn_default" id="showToast">成功提示</a>
    <a href="javascript:;" class="weui-btn weui-btn_default" id="showLoadingToast">加载中提示</a>
</div>

<script type="text/javascript" class="toast js_show">
    // toast
    $(function(){
        var $toast = $('#toast');
        $('#showToast').on('click', function(){
            if ($toast.css('display') != 'none') return;

            $toast.fadeIn(100);
            setTimeout(function () {
                $toast.fadeOut(100);
            }, 2000);
        });
    });

    // loading
    $(function(){
        var $loadingToast = $('#loadingToast');
        $('#showLoadingToast').on('click', function(){
            if ($loadingToast.css('display') != 'none') return;

            $loadingToast.fadeIn(100);
            setTimeout(function () {
                $loadingToast.fadeOut(100);
            }, 2000);
        });
    });</script>

</body>
</html>
