<!DOCTYPE html>
<html>
<head>
<title>系统日志</title>
<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak class="appmain">
	<div>
		<div class="grid-btn">
	         <div class="searchbar">
			    <div class="input-group">
			        <input type="text" class="" v-model.trim="q.key" @keyup.enter="query" placeholder="用户名、用户操作">
			        <div class="input-group-btn">
			           <a class="btn btn-primary search-btn"  @click="query"><i class="glyphicon glyphicon-search"></i>&nbsp;搜索</a>
	                </div>
				</div>
		    </div> 
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
</div>
<script src="${request.contextPath}/statics/js/modules/sys/log.js?_${.now?long}"></script>
</body>
</html>