<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>情报分析数据平台</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="shortcut icon" href="${request.contextPath}/statics/img/favicon.ico" />
  <link rel="bookmark"href="${request.contextPath}/statics/img/favicon.ico" />
  
  <link rel="stylesheet" href="${request.contextPath}/statics/css/add.css">
  <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
  <link rel="stylesheet" href="${request.contextPath}/statics/css/font-awesome.min.css">
  <link rel="stylesheet" href="${request.contextPath}/statics/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="${request.contextPath}/statics/css/all-skins.min.css">
  <link rel="stylesheet" href="${request.contextPath}/statics/css/main.css">
  <script src="${request.contextPath}/statics/libs/jquery.min.js"></script>
  <script src="${request.contextPath}/statics/plugins/jqgrid/jquery.jqGrid.min.js"></script>
  <script src="${request.contextPath}/statics/js/common.js"></script>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style type="text/css">
  /**加载完成后显示页面**/
	[v-cloak] {
		display: none;
	}

</style>
</head>
<!-- ADD THE CLASS layout-boxed TO GET A BOXED LAYOUT -->
<body class="hold-transition skin-blue sidebar-mini index_bgcolor">
<!-- Site wrapper -->
<div class="wrapper" id="rrapp" v-cloak style="overflow-y: hidden;">
  <header class="main-header">
    <a href="javascript:void(0);" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">
		 <div class="logo_title">
		    <div></div>
		  </div>
		</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">
		  <div class="logo_title">
		    <div></div>
			  <span>情报分析数据平台</span>
		  </div>
	  </span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" onclick="setTimeout(loadingPageTag,500)">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
		  <li ><a href="javascript:;" @click="updatePassword" class="index_set"></a></li>
          <!--  <li><a href="logout" class="index_exit"></a></li> -->
          <li><a href="javascript:;" @click="logout" class="index_exit"></a></li>
		</ul>
      </div>
	 <div class="top_welcom"  @mouseenter="over" @mouseleave="out">欢迎您， {{user.username}}</div>
    </nav>
  </header>

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
	
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->

      <ul class="sidebar-menu" style="overflow-y: auto; height: 92vh;">

        <div class="cut"></div>
        <!-- vue生成的菜单 -->
		<menu-item :item="item" v-for="item in menuList" :key="item.menuId"></menu-item>
      </ul>
    </section>
	
    <!-- /.sidebar -->
	    
  </aside>

  <!-- =============================================== -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="cut">
	    <div id="iframe-tab">
	    	<div id="btn-iframe-4" onclick="menuChange('iframe-4')" class="btn btn-primary btn-iframe "><span>首页</span><span class="span-close" onclick="closeIframe('iframe-4')">×</span></div>
		</div>
		<div v-if="showHidePageTag" @click="showHidePageListPanel = !showHidePageListPanel" class="" style="cursor: pointer;height:20px;float: right;margin-top:-30px;margin-right:10px;color: #c3dfff;font-size: 20px;">
			<i class="fa fa-angle-double-right" aria-hidden="true"><font style="font-size:10px;">{{hidePageCount}}</font></i>
		</div>
	</div>
    <!-- Main content -->
    <section class="content">
      <iframe id="iframe-4" class="iframeClass" scrolling="yes" frameborder="0" style="width:100%;min-height:420px;overflow:visible;" src="main.html"></iframe> </section>
    <!-- /.content -->
  </div>
	
  <!-- /.content-wrapper -->
  <!-- 
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      Version 3.2.0
    </div>
    Copyright &copy; 2018 <a href="http://www.sdses.com" target="_blank">sdses.io</a> All Rights Reserved
  </footer> 
  -->

  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
  
  <!-- 修改密码 -->
<div id="passwordLayer" style="display: none;">
	<form class="form-horizontal pad_top24 code_pop">
	<div class="form-group ">
		<div class="form-group">
		   	<div class="col-sm-2 control-label">账号</div>
		    <span class="label label-success" style="vertical-align: bottom;">{{user.username}}</span>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">原密码</div>
		   	<div class="col-sm-10">
		      <input type="password" class="form-control" v-model.trim="password" onkeypress="return keyNumAll(event);"  maxlength="20" onpaste="return false" placeholder="原密码"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">新密码</div>
		   	<div class="col-sm-10">
		      <input type="password" class="form-control" v-model.trim="newPassword" maxlength="20" onkeypress="return keyNumAll(event);" onpaste="return false" placeholder="新密码"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">确认新密码</div>
		   	<div class="col-sm-10">
		      <input type="password" class="form-control" v-model.trim="reNewPassword" maxlength="20" onkeypress="return keyNumAll(event);" onpaste="return false" placeholder="确认新密码"/>
		    </div>
		</div>
	</div>
	</form>
</div>

	<!-- 登录人信息 -->
	<div  class="info1">
		<div  class="info2"   >
			<div id="userInfo"  style="display: none; ">
				<form style="padding-top: 15px;">
					<div class="form-group col-sm-7">
						<div class="form-group">
						   	<div class="info_title">姓名</div>
						    <span class="info_text" style="white-space: nowrap;">{{user.realname}}</span>
						</div>
						 <div class="form-group">
						   	<div class="info_title">性别</div>
						    <span class="info_text" style="white-space: nowrap;">{{user.sex}}</span>
						</div> 
						<div class="form-group">
						   	<div class="info_title">电话</div>
						    <span class="info_text" style="white-space: nowrap;">{{user.mobile}}</span>
						</div>
						<div class="form-group">
						   	<div class="info_title">单位</div>
						    <span class="info_text" style="white-space: nowrap;">{{user.deptName}}</span>
						</div>
					</div>
					<div class="col-sm-5">
						<img v-if='user.pathHead == null || user.pathHead == ""' src="${request.contextPath}/statics/img/police.jpg" class="center-block img-responsive img-thumbnail" style="max-height:122px;" alt="Responsive image">
   						<img v-else v-bind:src='user.pathHead' class="center-block img-responsive img-thumbnail" style="max-height:122px;" alt="Responsive image">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 右上角页面列表页 B -->
	<div v-show="showHidePageListPanel" class="well" style="padding:10px 10px 0px 0px;width:200px; position:absolute;top:100px;right:5px;max-height:80vh;overflow-y:auto; z-index: 29891016; ">
		<ul id="idPageTag">
			
		</ul>
	</div>
	<!-- 右上角页面列表页 E -->

	<div class="panel panel-primary" id="msg-panel">
	  <div class="panel-heading">
	    <h3 class="panel-title" style="cursor:pointer;" @click="msgPanelControl">系统消息<span class="badge">{{msgNum}}</span><span class="glyphicon glyphicon-chevron-down pull-right" aria-hidden="true"></span></h3>
	  </div>
	  <div class="panel-body">
	  </div>
	</div>
	
	<!-- 系统消息查看 -->
	<div id="msgLayer">
	<div id="sysMsgLayer" style="display: none; " >
		<div class="form-group">
			<div class="col-xs-12" align="center" >
				<p class="text-center"><strong>{{sysMsg.title}}</strong></p>
				<p class="text-right"><em ><small>{{sysMsg.msgTime}}</small></em></p>
				<p class="text-left" style="padding-left:5px;text-indent: 20px;">{{sysMsg.content}}</p>
			</div>
		</div>
	</div>
	</div>
	<!-- 系统消息查看 -->
	
</div>
<!-- ./wrapper -->



<script src="${request.contextPath}/statics/libs/jquery.min.js"></script>
<script src="${request.contextPath}/statics/libs/vue.js"></script>
<script src="${request.contextPath}/statics/libs/router.js"></script>
<script src="${request.contextPath}/statics/libs/bootstrap.min.js"></script>
<script src="${request.contextPath}/statics/libs/app.js"></script>
<script src="${request.contextPath}/statics/plugins/layer/layer.js"></script>
<script src="${request.contextPath}/statics/js/reconnecting-websocket.min.js"></script>
<script src="${request.contextPath}/statics/js/index.js"></script>
<script type="text/javascript">
</script>
</body>
</html>
