<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>欢迎页</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="${request.contextPath}/statics/css/add.css">
<link rel="stylesheet" href="${request.contextPath}/statics/css/calendar_reset.css">
<link rel="stylesheet" href="${request.contextPath}/statics/css/calendar.css">
<link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">

 <style>
	 [v-cloak]{
		display: none;
	} 
</style>
</head>
<body >
<div class="main" id="main-content" v-cloak>
<#if shiro.hasPermission("sys:homepage:list")>
  <div class="main_top">
    <div class="mian_top_column_big ">
      <div  class="main_page1 box_border1"></div>
      <div class="main_title"> 通知 </div>
      <div class="main_title_mc">
        <div class="main_title_mc_star"></div>
      </div>
      <div  class="notice" id="noticeDiv">
      </div>
    </div>
    <div class="mian_top_column_big">
      <div  class="main_page1 box_border1"></div>
      <div class="main_title">各大队上报情况排名</div>
      <div class="main_title_mc">
        <div class="main_title_mc_star"></div>
      </div>
      <div  class="notice" v-html="rankingDatas" v-cloak>
          <div>{{rankingDatas}}</div> 
      </div>
    </div>
    <div class="mian_top_column_small">
      <div  class="main_page2 box_border2"></div>
      <div class="main_title">当月情报录入数量统计</div>
      <div class="main_title_mc">
        <div class="main_title_mc_star"></div>
      </div>
      <div  class="notice_100">
        <div class="line_y">
          <div class="line_y1"></div>
          <div class="line_y2"></div>
        </div>
        <div class="notice_cut">
          <div class="data">
            <div class="data_box">
              <div class="clue_ico"></div>
              <div class="data_text"><a href="#" onclick="goNext();">线索/起</a></div>
            </div>
          </div>
          <div class="data">
            <div class="cricle_org"> </div>
           <div class="num_text_org"><a href="#" onclick="goNext();" v-cloak>{{xsNum}}</a></div> 
          </div>
        </div>
        <div class="notice_cut">
          <div class="data">
            <div class="data_box">
              <div class="case_ico"></div>
              <div class="data_text"><a href="#" onclick="goNext();">案件/起</a></div>
            </div>
          </div>
          <div class="data">
            <div class="cricle_green"> </div>
            <div class="num_text_green"><a href="#" onclick="goNext();" v-cloak>{{ajNum}}</a></div> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main_bot">
    <div class="main_bot_column">
      <div  class="main_page3 box_border2"></div>
      <div class="main_title main_title_top">当月情报种类统计</div>
      <div class="main_title_mc main_title_mc_top">
        <div class="main_title_mc_star"></div>
      </div>
      <div  class="chart_100">
        <div class="line_y_down">
          <div class="line_y1"></div>
          <div class="line_y2"></div>
        </div>
        <div class="notice_cut">
          <div class="chart_1">
            <div class="chart_title">线索</div>
          </div>
          <div class="chart_2">
              <ses-pie  :style="{height:xsHeight,width:xsWidth,top:xsTop,left:xsleft}"  :alt="xsAlt"  :id="xsId" ></ses-pie>
               <div class="chart_msg" v-cloak>{{xsErrorMsg}}</div>
           </div>
        </div>
         <div class="notice_cut">
          <div class="chart_1">
            <div class="chart_title">案件</div>
          </div>
          <div class="chart_2"> 
              <ses-pie  :style="{height:ajHeight,width:ajWidth,top:ajTop,left:ajleft}"  :alt="ajAlt"  :id="ajId" @error-msg="showErrorMsg"></ses-pie>
              <div class="chart_msg" v-cloak>{{ajErrorMsg}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="main_bot_column">
      <div  class="main_page4 box_border2"></div>
      <div class="main_title main_title_top">个人日历</div>
      <div class="main_title_mc main_title_mc_top">
        <div class="main_title_mc_star"></div>
      </div>
      <div  class="notice_100">
          
      		<!-- <ses-chart  :style="{height:saryHeight,width:saryWidth,top:saryTop,left:saryLeft}"  :alt="saryAlt" :sary-label="saryLabel" @error-sarymsg="showSaryErrorMsg" :sary-data="saryData" ref="sesChart"></ses-chart>
     		<div class="chart_msg" v-cloak>{{saryErrorMsg}}</div> -->
     		<div id='calendar'></div>
          
      </div>
    </div>
  </div>
  <div id="noticeModal" style="display: none;">
		<div class="form-group">
			<div class="col-xs-12" align="center">
				<p class="text-center"><strong> {{selectedNoticeData.title}}</strong></p>
				<p class="text-right"><em ><small>{{selectedNoticeData.msgTime}}</small></em></p>
				<p class="text-left" style="padding-left:5px;padding-right:5px;">{{selectedNoticeData.content}}</p>
			</div>
		</div>
	</div>
</#if>
</div>

<script src="${request.contextPath}/statics/libs/jquery.min.js"></script>
<script src="${request.contextPath}/statics/libs/vue.js"></script>
<script src="${request.contextPath}/statics/libs/router.js"></script>
<script src="${request.contextPath}/statics/libs/calendar.js"></script>
<script src="${request.contextPath}/statics/plugins/layer/layer.js"></script>
  <script src="${request.contextPath}/statics/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="${request.contextPath}/statics/js/common.js"></script>
 <!-- 引入 ECharts 文件 -->
 <script src="${request.contextPath}/statics/plugins/echarts/echarts.common.min.js"></script>
  <!-- main页组件js -->
<script src="${request.contextPath}/statics/js/main.js"></script>

</body>
</html>