<!DOCTYPE html>
<html>
<head>
	<title>【明细表】涉案人员表</title>
	<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak class="appmain">
    <div v-show="showList">
        <div class="advanced-search search-bot">
    		<div class="form-horizontal">
	    		<div class="form-group">
		            <div class="col-sm-1 control-label">姓名</div>
		            <div class="col-sm-3">
		            	<input v-model.trim="searchParams.name" type="text" class="form-control" placeholder="" @dblclick="searchParams.name=''"/>
				 	</div>
		            <div class="col-sm-1 control-label">性别</div>
		            <div class="col-sm-3">
		            	<select class="form-control" v-model.trim="searchParams.sex" >
				    		<option v-for="sexDict in sexDictList" v-bind:value="sexDict.code ">
				   				{{ sexDict.value }}
				  			</option>
						</select>
					</div>
		            <div class="col-sm-1 control-label">籍贯</div>
		            <div class="col-sm-3">
		                <input v-model.trim="searchParams.placeNative" type="text" class="form-control" placeholder="" @dblclick="searchParams.placeNative=''"/>
		            </div>
		        </div>
		        <div class="form-group">
		            <div class="col-sm-1 control-label">身份证号</div>
		            <div class="col-sm-3">
		            	<input v-model.trim="searchParams.numId" type="text" class="form-control" placeholder="" @dblclick="searchParams.numId=''"/>
		            </div>
		            <div class="col-sm-1 control-label">昵称</div>
		            <div class="col-sm-3">
		               <input v-model.trim="searchParams.nickname" type="text" class="form-control" placeholder="" @dblclick="searchParams.nickname=''"/>
		            </div>
		            <div class="col-sm-4">
		                <div class="pull-right">                
                            <a class="btn btn-primary" @click="query"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-primary" @click="resetSearch"><i class="fa fa-reply"></i>&nbsp;重置</a>
                        </div>    
                 	</div>
		        </div>
			</div>
		</div>
		<div class="grid-btn">			
			<a class="btn btn-primary" @click="jumpPage('A')"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<!-- <a class="btn btn-primary" onclick="addCallImport"><i class="fa fa-cloud-upload"></i>&nbsp;批量导入</a> -->
			<a class="btn btn-primary" @click="batchExportToWord"><i class="fa fa-cloud-upload"></i>&nbsp;批量导出</a>
			<a class="btn btn-primary" @click="deletePersonBatch"><i class="fa fa-trash"></i>&nbsp;批量删除</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default"   style="padding-bottom:60px;">
        <div class="panel-heading">{{title}}</div>
        <div class="form-horizontal panel-body-form" style="padding:0;">
        	<!-- 一、基本信息 B -->
			<div class="panel panel-default" style="border-color:#fff;border-radius:0;">
				<div class="panel-subhead"><strong>一、基本信息</strong></div>
				<div class="form-horizontal" style="padding: 0 15px;">
					<!-- <div class="tips" v-if='operationType != "V"'><span><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>提示：输入身份证号可自动填充已存在的人员信息！</span></div> -->
					<div class="col-sm-12">
	     				<div v-if="operationType == 'A'" class="tips" style="margin-top:5px;"><span><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>提示：输入身份证号可自动填充已存在的人员信息！</span></div>
		     			<div class="col-sm-10">
			     			<div class="form-group">
								<div class="col-sm-1 control-label">姓名</div>
								<div class="col-sm-3">
									<input type="text" class="form-control" v-model="person.name" placeholder="" maxlength="20"/>
								</div>
								<div class="col-sm-2 control-label">身份证号</div>
								<div class="col-sm-5">
									<input type="text" class="form-control" v-model="person.numId" placeholder="" maxlength="18" @change="changePersonNumId" />
								<!-- 	<button type="submit" class="btn btn-primary">校验</button> -->
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-1 control-label">性别</div>
								<div class="col-sm-3">
									<select class="form-control" v-model.trim="person.sex" >
							    		<option v-for="sexDict in sexDictList" v-bind:value="sexDict.code ">
							   				{{ sexDict.value }}
							  			</option>
									</select>
								</div>
								<div class="col-sm-2 control-label">现住地</div>
								<div class="col-sm-5">
									<input type="text" class="form-control" v-model="person.placeLive" placeholder="" maxlength="100"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-1 control-label">昵称</div>
								<div class="col-sm-3">
									<input type="text" class="form-control" v-model="person.nickname" placeholder="" maxlength="20"/>
								</div>
								<div class="col-sm-2 control-label">活动地</div>
								<div class="col-sm-5">
									<input type="text" class="form-control" v-model="person.placeActive" placeholder="" maxlength="100"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-1 control-label">籍贯</div>
								<div class="col-sm-3">
									<input type="text" class="form-control" v-model="person.placeNative" placeholder="" maxlength="100"/>
								</div>
								<div class="col-sm-2 control-label">户籍地</div>
								<div class="col-sm-5">
									<input type="text" class="form-control" v-model="person.placeHome" placeholder="" maxlength="100"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-1 control-label">族别</div>
								<div class="col-sm-3">
									<input type="text" class="form-control" v-model="person.nation" placeholder="" maxlength="10"/>
								</div>
								<div class="col-sm-2 control-label">声纹特征</div>
								<div class="col-sm-5">
									<div class="center-block pull-left" style="position: relative; width:85%;text-align:left;">
										<div id="voiceUploadBtn" v-if='operationType != "V"'>
											<label for="voiceFile" class="btn btn-primary photoFile">
												<span v-if='person.pathVoice != null && person.pathVoice != ""'>修改声纹特征</span>
												<span v-else>上传声纹特征</span>
											</label> 
											<input id="voiceFile" ref="voiceFile" type="file" style="display: none" @change="uploadPersonVoice">
										</div>
										<div class="progress center-block" style="display:none;width:auto;" id="voiceProgressBar">
								   			<div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
												<span class="sr-only"></span>
								    		</div>
										</div>
									</div>
									<div v-if='person.pathVoice != null && person.pathVoice != ""'><button type="button" @click='showVoiceModal' class="btn btn-default btn-circle" style="width:15%;"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span></button></div>
								</div>
							</div>
						</div>
						<div class="col-sm-2 pull-right">
		      				<img v-if='person.pathHead == null || person.pathHead == ""' id="photoImg" src="${request.contextPath}/statics/img/person.png" class="center-block img-responsive img-thumbnail" style="max-height:155px;" alt="Responsive image">
		      				<img v-else id="photoImg" @click='showImageModel' v-bind:src='person.pathHead' class="center-block img-responsive img-thumbnail" style="max-height:155px;" alt="Responsive image">
		      				<!-- <input type="file" class="btn btn-warning btn-xs center-block" style="margin-top:-35px;position: relative; "></input> -->
							<div v-if='operationType != "V"' class="center-block" style="margin-top:5px;position: relative; width:70%;text-align:center;">
									<div id="photoUploadBtn">
										<label for="photoFile" class="btn btn-primary photoFile">
											<span v-if='person.pathHead != null && person.pathHead != ""'>修改头像</span>
											<span v-else>上传头像</span>
										</label> 
										<input id="photoFile" ref="photoFile" type="file" style="display: none" @change="uploadPersonPhoto">
									</div>
									<div class="progress center-block" style="display:none;width:auto;" id="photoProgressBar">
						   			<div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
										<span class="sr-only"></span>
						    		</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-1 control-label">驾驶证</div>
						<div class="col-sm-3">
							<input type="text" class="form-control" v-model="person.driverNum" placeholder="" maxlength="18"/>
						</div>
						<div class="col-sm-1 control-label">护照号</div>
						<div class="col-sm-3">
							<input type="text" class="form-control" v-model="person.passportNum" placeholder="" maxlength="9"/>
						</div>
						<div class="col-sm-1 control-label">婚姻状况</div>
						<div class="col-sm-3">
							<select class="form-control" v-model.trim="person.isMarried" >
					    		<option v-for="isMarriedDict in isMarriedDictList" v-bind:value="isMarriedDict.code ">
					   				{{ isMarriedDict.value }}
					  			</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-1 control-label">职业</div>
						<div class="col-sm-3">
							<input type="text" class="form-control" v-model="person.workY" placeholder="" maxlength="20"/>
						</div>
						<div class="col-sm-1 control-label">职级</div>
						<div class="col-sm-3">
							<input type="text" class="form-control" v-model="person.workJ" placeholder="" maxlength="20"/>
						</div>
						<div class="col-sm-1 control-label">职务</div>
						<div class="col-sm-3">
							<input type="text" class="form-control" v-model="person.workW" placeholder="" maxlength="20"/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-1 control-label">所在国家</div>
						<div class="col-sm-3">
							<input type="text" class="form-control" v-model="person.country" placeholder="" maxlength="20"/>
						</div>
						<div class="col-sm-1 control-label">涉恐类型</div>
						<div class="col-sm-3">
							<select class="form-control" v-model.trim="person.fearType" >
					    		<option v-for="fearTypeDict in fearTypeDictList" v-bind:value="fearTypeDict.code ">
					   				{{ fearTypeDict.value }}
					  			</option>
							</select>
						</div>
						<div class="col-sm-1 control-label">是否有前科</div>
						<div class="col-sm-3">
							<select class="form-control" v-model.trim="person.isSin" >
					    		<option v-for="isSinDict in isSinDictList" v-bind:value="isSinDict.code ">
					   				{{ isSinDict.value }}
					  			</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-1 control-label">宗教信仰</div>
						<div class="col-sm-3">
							<select class="form-control" v-model.trim="person.religion" >
					    		<option v-for="religionDict in religionDictList" v-bind:value="religionDict.code ">
					   				{{ religionDict.value }}
					  			</option>
							</select>
						</div>
						<div class="col-sm-1 control-label">性格研判</div>
						<div class="col-sm-3">
							<input type="text" class="form-control" v-model="person.character" placeholder="" maxlength="50"/>
						</div>
						<div class="col-sm-1 control-label">涉稳标签</div>
						<div class="col-sm-3">
							<input type="text" class="form-control" v-model="person.stabilizeFlag" placeholder="" maxlength="20"/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-1 control-label">重点人员类型及性质</div>
						<div class="col-sm-3">
							<select class="form-control" v-model.trim="person.personType" @change="personTypeChange">
					    		<option v-for="keyPersonTypeDict in keyPersonTypeDictList" v-bind:value="keyPersonTypeDict.code">
					   				{{ keyPersonTypeDict.value }}
					  			</option>
							</select>
						</div>
						<div class="col-sm-3">
							<select class="form-control" v-model.trim="person.personNature" >
					    		<option v-for="keyPersonNatureDict in keyPersonNatureDictList" v-bind:value="keyPersonNatureDict.code" v-if="keyPersonNatureDict.code.indexOf(person.personType+'-') != -1">
					   				{{ keyPersonNatureDict.value }}
					  			</option>
							</select>
						</div>
						<div class="col-sm-4 pull-right">
						    <label class="radio-inline" v-for="u,index of userTypeList">
						    	<template v-if='operationType != "V"'>
							    	<input name="userType" type="radio" :checked="vm.person.userType == u.code"  @click="userTypeClick(u.code)">
									<span :class="['label', 'label-'+u.cssClass]" style="padding:4px;">{{u.value}}</span>
						    	</template>
						    	<template v-if='operationType == "V" && person.userType == u.code'>
						    		<span :class="['label', 'label-'+u.cssClass]" style="padding:4px;">{{u.value}}</span>
						    	</template>
							</label>
						</div>
					</div>
				
					<!-- 通讯工具 B -->
					<div class="panel panel-default">
			          <div class="panel-head-line">
						通讯工具
						 <div v-if='operationType != "V"' class="pull-right">
							<a @click="editTelLayer(-1)" type="button" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;新增</a>
			                <a @click="removeBatchTel()" type="button" class="btn btn-primary"><i class="fa fa-trash"></i>&nbsp;批量删除</a>
						 </div>
					  </div>
		           		<div>
						    <table id="telTable" class="panel-subtable"
			    			data-toggle="table"
			    			data-id-field="id"
			   			 	data-unique-id="id"
			    			data-toolbar="#toolbar"
			    			data-toolbar-align="right"
							data-response-handler="responseHandler"
							data-locale="zh-CN"		
			    			>
						    <thead>
						        <tr>
						        	<th data-field="checkBox" data-checkbox="true"></th>
						        	<th data-field="id" data-visible="false">编号</th>
						            <th data-width="28%" data-field="num" data-align="center">号码</th>
						            <th data-width="28%" data-field="owner" data-align="center">机主</th>
						            <th data-width="28%" data-field="user" data-align="center">持机人</th>
						            <th data-width="" data-field="operation" data-align="center" data-formatter="vm.telFormatter">操作</th>
						        </tr>
						    </thead>
						</table>
						</div>
					</div>
					<!-- 通讯工具 E -->
					
					<!-- 社交工具 B -->
					<div class="panel panel-default">
			          <div class="panel-head-line">
						社交工具
						 <div v-if='operationType != "V"' class="pull-right">
							<a @click="editChatLayer(-1)" type="button" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;新增</a>
			                <a @click="removeBatchChat()" type="button" class="btn btn-primary"><i class="fa fa-trash"></i>&nbsp;批量删除</a>
						 </div>
					  </div>
			           <div>
						    <table id="chatTable" class="panel-subtable"
			    			data-toggle="table"
			    			data-id-field="id"
			   			 	data-unique-id="id"
			    			data-toolbar="#toolbar"
			    			data-toolbar-align="right"
							data-response-handler="responseHandler"
							data-locale="zh-CN"		
			    			>
						    <thead>
						        <tr>
						        	<th data-field="checkBox" data-checkbox="true"></th>
						        	<th data-field="id" data-visible="false">编号</th>
						            <th data-width="28%" data-field="type" data-align="center" data-formatter="vm.chatTypeFormatter">类型</th>
						            <th data-width="28%" data-field="nickname" data-align="center">昵称</th>
						            <th data-width="28%" data-field="num" data-align="center">号码</th>
						            <th data-width="" data-field="operation" data-align="center" data-formatter="vm.chatFormatter">操作</th>
						        </tr>
						    </thead>
						</table>
						</div>
					</div>
					<!-- 社交工具 E -->
				</div>
			</div>
			<!-- 一、基本信息 E-->
			
			<!-- 二、社交网络 B-->
			<div class="panel panel-default" style="border-color:#fff;border-radius:0;">
				<div class="panel-subhead"><strong>二、社交网络</strong></div>
				<div class="form-horizontal" style="padding: 0 15px;">
					<!-- 家族关系 B -->
					<div class="panel panel-default">
			          <!-- <div class="col-sm-1 control-label">涉案人员</div> --> 
			          <div class="panel-head-line">
						家族关系
						 <div v-if='operationType != "V"' class="pull-right">
							<a @click="searchPersonLayer(1)" type="button" class="btn btn-primary"><i class="fa fa-link"></i>&nbsp;关联</a>
			                <a @click="removeBatchFamilyPerson" type="button" class="btn btn-primary"><i class="fa fa-trash"></i>&nbsp;批量删除</a>
						 </div>
					  </div>
			           <div>
						    <table id="familyPersonTable" class="panel-subtable"
			    			data-toggle="table"
			    			data-id-field="id"
			   			 	data-unique-id="id"
			    			data-toolbar="#toolbar"
			    			data-toolbar-align="right"
							data-response-handler="responseHandler"
							data-locale="zh-CN"		
			    			>
						    <thead>
						        <tr>
						        	<th data-field="checkBox" data-checkbox="true"></th>
						        	<th data-field="id" data-visible="false">id</th>
						        	<th data-field="relationPersonId" data-visible="false">关联用户id</th>
						            <th data-width="12%" data-field="name" data-align="center">姓名</th>
						            <th data-width="10%" data-field="sex" data-align="center" data-formatter="vm.sexFormatter">性别</th>
						            <th data-width="12%" data-field="nation" data-align="center">族别</th>
						            <th data-width="18%" data-field="numId" data-align="center">身份证号</th>
						            <th data-width="18%" data-field="relationName" data-align="center">关系</th>
						            <th data-width="18%" data-field="intimacy" data-align="center">亲密度</th>
						            <th data-width="10%" data-field="operation" data-align="center" data-formatter="vm.relationFormatter">操作</th>
						        </tr>
						    </thead>
						</table>
						</div>
					</div>
					<!-- 家族关系 E -->
					
					<!-- 重要关系 B -->
					<div class="panel panel-default">
			          <!-- <div class="col-sm-1 control-label">涉案人员</div> --> 
			          <div class="panel-head-line">
						重要关系
						 <div v-if='operationType != "V"' class="pull-right">
							<a @click="searchPersonLayer(2)" type="button" class="btn btn-primary"><i class="fa fa-link"></i>&nbsp;关联</a>
			                <a @click="removeBatchMajorPerson" type="button" class="btn btn-primary"><i class="fa fa-trash"></i>&nbsp;批量删除</a>
						 </div>
					  </div>
			           <div>
						    <table id="majorPersonTable" class="panel-subtable"
			    			data-toggle="table"
			    			data-id-field="id"
			   			 	data-unique-id="id"
			    			data-toolbar="#toolbar"
			    			data-toolbar-align="right"
							data-response-handler="responseHandler"
							data-locale="zh-CN"		
			    			>
						    <thead>
						        <tr>
						        	<th data-field="checkBox" data-checkbox="true"></th>
						        	<th data-field="id" data-visible="false">id</th>
						        	<th data-field="relationPersonId" data-visible="false">关联用户id</th>
						            <th data-width="12%" data-field="name" data-align="center">姓名</th>
						            <th data-width="10%" data-field="sex" data-align="center" data-formatter="vm.sexFormatter">性别</th>
						            <th data-width="12%" data-field="nation" data-align="center">族别</th>
						            <th data-width="18%" data-field="numId" data-align="center">身份证号</th>
						            <th data-width="18%" data-field="relationName" data-align="center">关系</th>
						            <th data-width="18%" data-field="intimacy" data-align="center">亲密度</th>
						            <th data-width="10%" data-field="operation" data-align="center" data-formatter="vm.relationFormatter">操作</th>
						        </tr>
						    </thead>
						</table>
						</div>
					</div>
					<!-- 重要关系 E -->
					
					<!-- 通联关系 B -->
					<div class="panel panel-default col-sm-6" style="padding-left:0px !important;">
						<div class="panel-head-line text-center"><strong>通联关系</strong></div>
						<div class="form-horizontal panel-body container-fluid" style="padding: 0px !important;">
							<iframe id="iframeTel" src="" frameborder="0" scrolling="no" style="width:100%;height:400px;"></iframe>
						</div>
					</div>
					<!-- 通联关系 E -->
					
					<!-- 虚拟关系图谱 B -->
				 	<div class="panel panel-default col-sm-6" style="padding-right:0px !important; float:right;">
						<div class="panel-head-line text-center"><strong>虚拟关系图谱</strong></div>
						<div class="form-horizontal panel-body container-fluid" style="padding: 0px !important;">
							<iframe id="iframePerson" src="" frameborder="0" scrolling="no" style="width:100%;height:400px;"></iframe>
					      	<!-- <iframe src="http://192.168.103.99:12000/telephoneRelationship" frameborder="0" scrolling="no" id="external-frame" onload="setIframeHeight(this)"></iframe> -->
						</div>
					</div>
					<!-- 虚拟关系图谱 E -->
					<div class="form-group">
						<div class="col-sm-1 control-label">活跃指数</div>
						<div class="col-sm-3">
							<select class="form-control" v-model.trim="person.rlActive" >
					    		<option v-for="activeDict in activeDictList" v-bind:value="activeDict.code ">
					   				{{ activeDict.value }}
					  			</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-1 control-label">分析意见</div>
						<div class="col-sm-11">
							<textarea rows="5" class="form-control" v-model="person.rlOpinion" placeholder="" maxlength="300"></textarea>
						</div>
					</div>
					<br/>
				</div>
			</div>
			<!-- 二、社交网络 E-->
				
            <div class="panel-footer-fixed">
			   <div class="center-block btn-four" style="text-align: center;">
			      <a class="btn btn-primary" @click="saveOrUpdate" v-show="operationType === 'A' || operationType === 'U'"><i class="fa fa-save"></i>&nbsp;保存</a>
			      <a class="btn btn-primary" @click="reset" v-show="operationType === 'A'"><i class="fa fa-check"></i>&nbsp;重置</a>
			      <a class="btn btn-primary" @click="exportToWord(person.personId)" v-if="showButtonExport" ><i class="fa fa-cloud-upload"></i>&nbsp;导出</a>
			      <a class="btn btn-primary" @click="closePageWithConfirm"><i class="fa fa-close"></i>&nbsp;关闭</a>
			   </div>
			</div>
        </div>
    </div>
    
    <!-- 通讯工具 B-->
	<div id="telLayer" style="display: none;">
		<div class="form-horizontal container-fluid">
			<div class="modal-body">
				<div class="form-group">
					<div class="col-sm-3 control-label" style="color:black;">号码</div>
					<div class="col-sm-8">
						<input type="text" :required="required" class="form-control" v-model.trim="tel.num" placeholder="" maxlength="15"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3 control-label" style="color:black;">机主</div>
					<div class="col-sm-8">
						<input type="text" :required="required" class="form-control" v-model.trim="tel.owner" placeholder="" maxlength="10"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3 control-label" style="color:black;">持机人</div>
					<div class="col-sm-8">
						<input type="text" class="form-control" v-model.trim="tel.user" placeholder="" maxlength="10"/>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 通讯工具 E-->
	
	 <!-- 社交工具 B-->
	<div id="chatLayer" style="display: none;">
		<div class="form-horizontal container-fluid">
			<div class="modal-body">
				<div class="form-group">
					<div class="col-sm-3 control-label" style="color:black;">类型</div>
					<div class="col-sm-8">
						<select :required="required" class="form-control" v-model.trim="chat.type" >
				    		<option v-for="chatTypeDict in chatTypeDictList" v-bind:value="chatTypeDict.code ">
				   				{{ chatTypeDict.value }}
				  			</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3 control-label" style="color:black;">昵称</div>
					<div class="col-sm-8">
						<input type="text" :required="required" class="form-control" v-model.trim="chat.nickname" placeholder="" maxlength="20"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3 control-label" style="color:black;">号码</div>
					<div class="col-sm-8">
						<input type="text" :required="required" class="form-control" v-model.trim="chat.num" placeholder="" maxlength="20"/>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 社交工具 E-->
	
	<!-- 模态框：人员查询 B -->
	<div id="searchPersonLayer" style="display: none;">
	   <div class="modal-body gl_qingbao">
			<form class="form-horizontal">
				<div>
					<div  class="col-xs-2 control-label">姓名</div>
					<div class="col-xs-3">
						<input type="text" class="form-control pop_input" v-model.trim="relationSearchParams.name" placeholder="" />
					</div>
					<div class="col-xs-2 control-label qb_pop2">身份证号</div>
					<div class="col-xs-3">
						<input type="text" class="form-control pop_input" v-model.trim="relationSearchParams.numId" placeholder="" />
					</div>
					<div class="col-xs-2 serach_btn">
						<a class="btn btn-primary serach_btn1" @click="queryRelatedPerson">查询</a>
					</div>
				</div>
				<br/><br/>
				<div class="pop_table1 col-xs-12">
					<table id="jqGridRelatedPerson" class="modal-table" style="width:100%;"></table>
		     		<div id="jqGridPagerRelatedPerson" class="modal-pages gl_code"></div>
	     	    </div>
			</form>
		</div>
	</div>
	<!-- 模态框：人员查询 E -->
	<!-- 模态框：关系（家族、重要） B -->
	<div id="relationLayer" style="display: none;overflow:hidden;">
		<input type="hidden" v-model.trim="relation.relationPersonId">
		<div class="modal-body">
			<form class="form-horizontal">
			  	<div class="form-group">
			  		<label class="col-xs-2 control-label his_pop1" style="color:black;">姓名</label>
  					<div class="col-xs-4">
   						<input type="text" readonly disabled class="form-control" placeholder="" v-model.trim="relation.name">
  					</div>
					<label class="col-xs-2 control-label" style="color:black;">身份证号</label>
					<div class="col-xs-4">
						<input type="text" readonly disabled class="form-control" placeholder="" v-model.trim="relation.numId">
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-2 control-label his_pop1" style="color:black;">性别</label>
	  				<div class="col-xs-4">
	  					<input type="text" readonly disabled class="form-control" placeholder="" v-model.trim="relation.sex">
	  				</div>
	  				<label class="col-xs-2 control-label" style="color:black;">族别</label>
	  				<div class="col-xs-4">
	  					<input type="text" readonly disabled class="form-control" placeholder="" v-model.trim="relation.nation">
	  				</div>
				</div>
				<div class="form-group">
	  				<label class="col-xs-2 control-label his_pop1" style="color:black;">关系</label>
	  				<div class="col-xs-4">
	  					<input type="text" class="form-control" placeholder="" v-model.trim="relation.relationName" maxlength="20">
	  				</div>
	  				<label class="col-xs-2 control-label" style="color:black;">关系亲密度</label>
	  				<div class="col-xs-4">
	  					<input type="text" class="form-control" placeholder="" v-model.trim="relation.intimacy" maxlength="20">
	  				</div>
				</div>
			</form>
		</div>
	</div>
	<!-- 模态框：关系（家族、重要） E -->
	
    <!-- 头像放大预览模态框 B -->
	<div id="imageModal" class="modal" @click='$("#imageModal").modal("hide")' style="justify-content: center; align-items: center;">
		<!-- <div class="modal-header">
			<button data-dismiss="modal" class="close" type="button"></button>
		</div> -->
		<div class="modal-body" style="padding-top:0 !important;">
			<div>
				<img v-bind:src='person.pathHead' class="center-block img-responsive img-thumbnail" style="max-height:96vh;" alt="Responsive image">
			</div>
		</div>
	</div>
	<!-- 头像放大预览模态框 E -->
	
	<!-- 音频播放模态框 B -->
	<div id="voiceModal" class="modal">
		<div class="modal-header">
			<button data-dismiss="modal" @click='hideVoiceModal' class="close" type="button"><font color="white">X</font></button>
		</div>
		<div class="modal-body">
			<div>
				<audio id='voiceAudio' style="margin-top:35vh;" class="center-block" v-bind:src='person.pathVoice' controls="controls"> 您的浏览器不支持! </audio>
			</div>
		</div>
	</div>
	<!-- 音频播放模态框 E -->
</div>

<script src="${request.contextPath}/statics/js/modules/qxda/person.js?_${.now?long}"></script>
</body>
</html>